

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">


    
    <div class="split-container " id="dec">  
        <div class="right-half" >
          <section id="j"  >
         <br><br><br><br>
       
            <h3 style="font-size: 26px; justify-content: center;margin-left: 160px; ">Start Exploring </h3><br>
            <p id="p1">  Begin your adventure in fashion and play with "TinyTrendz". Whether you're looking for the perfect outfit or a new addition to your child's toy collection, you'll find it here. Let's create unforgettable moments together.
          </p> </section></div>
        <div class="left-half"><br><br>
      <div style="float: left;" id="h">
        🦋<button>descover more</button> 🦋
      </div></div>
     </div><br><br><br>
     <div class="card text-center">
        <!-- En-tête de la carte -->
        <div class="card-header">
          Découvrez nos trésors pour enfants
        </div>
      
        <!-- Contenu principal de la carte -->
        <div class="card-body .bg-secondary">
          <h5 class="card-title">Mode Enfants</h5>
          <p class="card-text">Explorez notre sélection unique de vêtements pour enfants qui allie style et confort pour vos petits explorateurs.</p>
          <a href="/vêtements-enfants" class="btn btn-primary">Parcourir la collection</a>
        </div>
      
        <!-- Pied de la carte -->
        <div class="card-footer text-muted " >
          <!-- Ajoutez ici des informations, par exemple : -->
          <p class="text-primary">Livraison gratuite pour les commandes de plus de 50 €</p>
        </div>
      </div>
      <br><br><br>
      <div style="background-color: #BEE;margin-top: 50px;"> <section class="container mt-5" id="toy" ><br><br>
        <div class="row">
            <!-- Collection Item 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/robot.jpg" class="card-img-top" alt="Jouet 1">
                    <div class="card-body">
                        <h5 class="card-title">toy 1</h5>
                        <p class="card-text">Description </p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/toy.jpg" class="card-img-top" alt="Jouet 1">
                    <div class="card-body">
                        <h5 class="card-title">toy 1</h5>
                        <p class="card-text">Description</p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/barbie.jpg" class="card-img-top" alt="Jouet 1">
                    <div class="card-body">
                        <h5 class="card-title">toy 1</h5>
                        <p class="card-text">Description </p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/minion.jpg" class="card-img-top" alt="Jouet 1">
                    <div class="card-body">
                        <h5 class="card-title">toy 1</h5>
                        <p class="card-text">Description </p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>

            <!-- Collection Item 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/teddy.jpg" class="card-img-top" alt="Jouet 2">
                    <div class="card-body">
                        <h5 class="card-title">toy 2</h5>
                        <p class="card-text">Description </p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="assets/planet.jpg" class="card-img-top" alt="Jouet 2">
                    <div class="card-body">
                        <h5 class="card-title">toy 2</h5>
                        <p class="card-text">Description </p>
                        <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section></div>
<br><br><br><br>
<div class="card text-center">
    <!-- En-tête de la carte -->
    <div class="card-header">
      Découvrez nos trésors pour enfants
    </div>
  
    <!-- Contenu principal de la carte -->
    <div class="card-body .bg-secondary">
      <h5 class="card-title">Mode Enfants</h5>
      <p class="card-text">Explorez notre sélection unique de vêtements pour enfants qui allie style et confort pour vos petits explorateurs.</p>
      <a href="/vêtements-enfants" class="btn btn-primary">Parcourir la collection</a>
    </div>
  
   
  <br><br><br> <section class="container mt-5" id="clothes">
    <div class="row">
        <!-- Collection Item 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b5.jpg" class="card-img-top" alt="Jouet 1">
                <div class="card-body">
                    <h5 class="card-title">outfit 1</h5>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b1.jpg" class="card-img-top" alt="Jouet 1">
                <div class="card-body">
                    <h5 class="card-title">outfit 1</h5>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b2.jpg" class="card-img-top" alt="Jouet 1">
                <div class="card-body">
                    <h5 class="card-title">outfit 1</h5>
                    <p class="card-text">Description </p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b7.jpg" class="card-img-top" alt="Jouet 1">
                <div class="card-body">
                    <h5 class="card-title">outfit 1</h5>
                    <p class="card-text">Description </p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>

        <!-- Collection Item 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b4.jpg" class="card-img-top" alt="Jouet 2">
                <div class="card-body">
                    <h5 class="card-title">outfit2</h5>
                    <p class="card-text">Description </p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="assets/b6.jpg" class="card-img-top" alt="Jouet 2">
                <div class="card-body">
                    <h5 class="card-title">outfit 2</h5>
                    <p class="card-text">Description </p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
        
    </div>
    
</section>

  <br><br><br>
  <h1 id="contact" style="color: #8F0;">🚀 contact 🌟</h1>
  <hr style="height: 50px; width:250px; margin-left: 640px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
      <div class="col-md-6">
        <img src="assets/we.jpg" alt="" width="100%" height="50%">
      </div>
    </div> 
  </div>
  <div class="container1"> <a href="l.html" class="btn1">MORE INFORMATION</a></div><section class="faq-section">
    <h2>FAQ (Frequently Asked Questions)</h2><br>

    <div class="faq-container">
      <div class="faq">
        <h3 class="question">What are your opening hours ?</h3>
        <p class="answer">We are open every day of the week. .</p>
      </div>
      <div class="faq">
        <h3 class="question">molestias vero animi ex! Voluptatem? ?</h3>
        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit.s iste quam!</p>
      </div>
      <div class="faq">
        <h3 class="question">How can I cancel or exchange an outfit ?</h3>
        <p class="answer">You can cancel or exchange an outfit by contacting us by phone or email at least 24 hours before the date of your visit..</p>
      </div>
    </div>
  </section>
  <p class="vision-animation">🌐</p>
  <div style="background-color: #325558;">
  <h2 style="text-align: center; font-size: 24px; color:white;">To better find our position </h2>  <br><br>
  <iframe
  id="map"
   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12735.422803054294!2d10.196429734534893!3d36.80649648615945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e0bf4dbd546361%3A0x397e1cc376f61c12!2sTunis%2C%20Tunisie!5e0!3m2!1sen!2sus!4v1647705477088!5m2!1sen!2sus"
  frameborder="0"
  style="border:0"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>
</div>
    <!-- Footer (you can customize this) -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2023 "TinyTrendz". Tous droits réservés.</p>
    </footer>