
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#p1{
    margin-top: 280px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.faq-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    box-shadow: 0px 0px 50px #000;
  }
  
  .faq {
    width: 90%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #548397;
    border-radius: 20px;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
  }
  
  .faq h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .faq p {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
  }
 
  
  .vision-animation {
    display: inline-block;
    font-size: 24px;
    transform-origin: center;
    animation: rotateAnimation 6s linear infinite;
  }
  
.split-container {
    display: flex;
    flex: 3;
    background-image: url('src/assets/com.jpg');
  
}

.left-half, .right-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.left-half {
    background-color: #f7f7f7; /* Couleur de la moitié gauche */
}

button{
    border-radius: 10px;
    border: 2px solid #000;
    height: 50px;
    color: rgb(69, 69, 158);
    background-color: #d10d82;
    font-size: 20px;
}
button:hover{
    font-weight: 800;
    color: #d10d82;
    background-color: rgb(69, 69, 158);
}