<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">"TinyTrendz"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="body.component.html">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#toy">TOYS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#clothes">CLOTHES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#contact">CONTACT</a>
        </li>
      </ul>
</nav>